<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>och02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add3</display-name>
    <servlet-name>Add3</servlet-name>
    <servlet-class>och02.Add3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add3</servlet-name>
    <url-pattern>/Add3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Color</display-name>
    <servlet-name>Color</servlet-name>
    <servlet-class>och02.Color</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Color</servlet-name>
    <url-pattern>/Color</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gugu</display-name>
    <servlet-name>gugu</servlet-name>
    <servlet-class>och02.gugu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gugu</servlet-name>
    <url-pattern>/gugu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Board</display-name>
    <servlet-name>Board</servlet-name>
    <servlet-class>och02.Board</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board</servlet-name>
    <url-pattern>/Board</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movie</display-name>
    <servlet-name>movie</servlet-name>
    <servlet-class>och02.movie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Name3</display-name>
    <servlet-name>Name3</servlet-name>
    <servlet-class>och02.Name3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Name3</servlet-name>
    <url-pattern>/Name3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>num</display-name>
    <servlet-name>num</servlet-name>
    <servlet-class>och02.num</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>num</servlet-name>
    <url-pattern>/num</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>och02.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
</web-app>